<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sjcl/1.0.0/sjcl.min.js"></script>
        <script src="{% static "js/easy_password.js" %}"></script>

        <style>
            .crossed {
                text-decoration: line-through;
            }
        </style>

    </head>

    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    {% if user.is_authenticated %}
                    <a class="pull-right btn" href="/admin/logout/?next=/easy_password">Logout</a>
                    {% else %}
                    <a class="btn pull-right btn" href="/admin/login/?next=/easy_password">Login</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div id="passwords-names" class="list-group">
                                <button type="button" class="list-group-item hidden"></button>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="text-center">
                                <a href="#" onclick="createPassword()">
                                    <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input id="passwordbox-name" type="text" readonly>
                                        <input id="passwordbox-size" type="text" readonly>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <p id="passwordbox-has-uppers">Uppers</p> 
                                    <p id="passwordbox-has-numbers">Numbers</p> 
                                </div>
                                <div class="col-xs-3">
                                    <p id="passwordbox-has-lowers">Lowers</p> 
                                    <p id="passwordbox-has-specials">Specials</p> 
                                </div>
                            </div>
                            <div class="text-center input-group">
                                <input id="passwordbox-key" type="password" placeholder="Secret key">
                                <button type="button" class="btn btn-default" onclick="generatePassword()">Generate</button>
                                <input id="passwordbox-generated" type="text" placeholder="Generated password" readonly>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="text-center col-xs-12">
                                <button class="btn btn-danger" onclick="deleteCurrentPassword()"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete</button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-create-password" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p>Create password</p>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <div class="row">
                                        <label class="col-xs-2">Name</label>
                                        <div class="col-xs-10">
                                            <input name="name" type="text" class="form-control">
                                        </div>
                                        <label class="col-xs-2">Size</label>
                                        <div class="col-xs-10">
                                            <input name="size" type="number" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="input-group">
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="numbers">Numbers</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="uppers">Uppers</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="lowers">Lowers</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" name="specials">Labels</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="modal-create-password-save" type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            
            <script>
            // All REST PUT/DELETE request MUST be added a valid csrf token.
            // This functions automatically add the loaded token to all ajax
            // headers.

            // Retreives a cookie from it's name, without using a plugin
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            // Does the ajax request needs to be added a csrf token
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            // Fill ajax request header with csrf token
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            
            </script>


                <script>
    $(document).on('ready', function() {
        cleanPasswordBox();
        fillPasswordsList();
    })

    var currentPassword;

    var createPassword = function() {
        showModal({});
    }
    var showModal = function(init) {
        $('#modal-create-password input[name="name"]').val(init.name || '');
        $('#modal-create-password input[name="size"]').val(init.size || 8);

        $('#modal-create-password input[name="numbers"]').prop('checked', init.numbers || true);
        $('#modal-create-password input[name="uppers"]').prop('checked', init.uppers || true);
        $('#modal-create-password input[name="lowers"]').prop('checked', init.lowers || true);
        $('#modal-create-password input[name="specials"]').prop('checked', init.specials || true);

        $('#modal-create-password-save').on('click', function(event) {
            data = {};
            mod = $('#modal-create-password');
            data.name = mod.find('input[name="name"]').val();
            data.size = mod.find('input[name="size"]').val();
            data.version = 1;

            data.numbers = mod.find('input[name="numbers"]').prop('checked');
            data.uppers = mod.find('input[name="uppers"]').prop('checked');
            data.lowers = mod.find('input[name="lowers"]').prop('checked');
            data.specials = mod.find('input[name="specials"]').prop('checked');
            easy_password.createPassword(data)
                .done(function( data, textStatus, jqXHR ) {
                    $('#modal-create-password').modal('hide');
                    fillPasswordsList();
                })
                .fail(function( jqXHR, textStatus, errorThrown ) {
                    console.error(textStatus);
                })
        });

        $('#modal-create-password').modal('show');
    }

    var cleanPasswordsList = function() {
        $('#passwords-names button').not(':first').remove();
    }
    var fillPasswordsList = function() {
        cleanPasswordsList();
        easy_password.getPasswords()
            .done(function(data, textStatus, jqXHR) {
                $.each(data.results, function(index, value) {
                    item = $('#passwords-names button:first').clone();
                    item.removeClass('hidden');
                    item.text(value.name);
                    item.attr('passId', value.id);
                    $('#passwords-names').append(item);
                });

                $('#passwords-names button').on('click', function(event){
                    fillPasswordBox($(event.target).attr('passId'));
                });
            })
            .fail(function(jquery, textStatus, errorThrown) {
            })
    }

    var cleanPasswordBox = function() {
        $('#passwordbox-name').val('');
        $('#passwordbox-size').val('');
        $('#passwordbox-has-numbers').removeClass('crossed');
        $('#passwordbox-has-uppers').removeClass('crossed');
        $('#passwordbox-has-lowers').removeClass('crossed');
        $('#passwordbox-has-specials').removeClass('crossed');
        $('#passwordbox-key').val('');
        $('#passwordbox-generated').val('');
    };
    var fillPasswordBox = function(id) {
        cleanPasswordBox();
        easy_password.getPassword(id)
            .done(function(data, textStatus, jqXHR) {
                // TODO: Use a factory based on the version
                currentPassword = new easy_password.v1(data);
                $('#passwordbox-name').val(currentPassword.data.name);
                $('#passwordbox-size').val(currentPassword.data.size);
                if(!currentPassword.data.numbers) {
                    $('#passwordbox-has-numbers').addClass('crossed');
                }
                if(!currentPassword.data.uppers) {
                    $('#passwordbox-has-uppers').addClass('crossed');
                }
                if(!currentPassword.data.lowers) {
                    $('#passwordbox-has-lowers').addClass('crossed');
                }
                if(!currentPassword.data.specials) {
                    $('#passwordbox-has-specials').addClass('crossed');
                }
            })
            .fail(function(jquery, textStatus, errorThrown) {
            })
    }

    var generatePassword = function() {
        $('#passwordbox-generated').val(currentPassword.get_password($('#passwordbox-key').val()));
    }

    var deleteCurrentPassword = function() {
        currentPassword.destroy();
        cleanPasswordBox();
        fillPasswordsList();
    }
            </script>
            </body>
            </html>
